<html>
    <head>
        <title>
            home page
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <h1>Location</h1>
       <a href="http://localhost:3002/addLocationForm/<%=parent._id%>"> <button>Add location</button></a>
        <button>Back</button>
        <br>
        <table class="table">
            <thead>
                <tr><%=parent.locationName%></tr>
                <tr>
                    <th>Index</th>
                    <th>Location</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < locations.length; i++){%>
                <tr>
                    <td><%= i+1 %></td>
                    <td><a href="http://localhost:3002/getLocation/<%= locations[i]._id%>"><%= locations[i].locationName %></a></td>
                    <td>
                        <button>Edit</button>
                        <a href="http://localhost:3002/delete/<%=locations[i]._id%>"><button>delete</button>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>

        <table class="table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>product name</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=0; i < product.length; i++){%>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= product[i]['productName'] %></td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </body>
</html>